@-ms-viewport {
  width: device-width;
}
html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  width: 100%;
  max-width: var(--max-width-page);
  margin: auto;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--bg-cl);
  display: flex;
  @include lg {
    max-width: var(--max-width-page1);
  }
  &.--disable-scroll {
    height: 100vh;
    overflow: hidden;
  }

  .container {
    width: 100%;
    max-width: var(--max-width-container);
    padding-right: var(--gap);
    padding-left: var(--gap);
    margin-right: auto;
    margin-left: auto;
    position: relative;
    @include lg {
      max-width: var(--max-width-container1);
      padding-right: 29px;
      padding-left: 29px;
    }
  }

  main {
    position: relative;
    // width: 100%;
  }

  &.--disbale-scroll {
    overflow: hidden;
  }
}
